<div class="container">
  <div class="row">
    <div class="col">
      <h2>
        Default select
      </h2>
      <app-default-select></app-default-select>
    </div>
    <div class="col">
      <h2>
        Simple select
      </h2>

      <div class="select">
        <ng-simple-select>
          <ng-simple-select-option>1</ng-simple-select-option>
          <ng-simple-select-option>2</ng-simple-select-option>
        </ng-simple-select>
      </div>

    </div>
  </div>
  <br/>
  <div class="row">
      <div class="col"></div>
      <div class="col">
        <p>ngModel: {{testModel}}</p>
        <form #newForm="ngForm">
          <div class="select">
            <ng-simple-select class="select" [(ngModel)]="testModel" name="test" ngDefaultControl>
              <ng-simple-select-option [value]="test1">1</ng-simple-select-option>
              <ng-simple-select-option [value]="test2">2</ng-simple-select-option>
            </ng-simple-select>
          </div>
        </form>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <p>ngModel: {{arrayModel}}</p>
      <button (click)="addSmthIntoModel()">AddSmthIntoModel</button>
      <form #newForm="ngForm">
        <div class="select">
          <ng-simple-select class="select" [(ngModel)]="arrayModel" name="anotherName" ngDefaultControl>
            <ng-simple-select-option *ngFor="let option of arrayOptions"
                                     [value]="option.value">{{option.displayValue}}</ng-simple-select-option>
          </ng-simple-select>
        </div>
      </form>
    </div>
  </div>
</div>

